<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body class="seal-page">
  <div class="container">
    <div class="envelope panel">
    <%= yield %>
    </div>
  </div>

<%= javascript_include_tag 'application' %>
</body>
</html>
